# Tiled setup
TILED_KEY=<your-key>
DEFAULT_TILED_URI=https://tiled-demo.blueskyproject.io/api/v1/metadata/rsoxs/raw/
DEFAULT_TILED_QUERY="/primary/data/Small Angle CCD Detector_image"

# Labels setup
LABELS_TILED_URI=http://localhost:8000
LABELS_TILED_API_KEY=<your-key>

# Results Tiled setup
RESULTS_TILED_URI=http://localhost:8000
RESULTS_TILED_API_KEY=<your-key>

# Directory setup
DATA_DIR=/path/to/read/data

# Prefect setup
PREFECT_API_URL=http://localhost:4200/api

# Applications URLs
MLCOACH_URL=http://localhost:8062
DATA_CLINIC_URL=http://localhost:8072

# Static Tiled setup [Optional]
STATIC_TILED_URI=
STATIC_TILED_API_KEY=
